
/* GENERAL BUTTON STYLING */
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
	height:70px;
	width:207px;
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 6em auto;
  padding: 1em 2em;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #52b381;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #ffffff;
}
.btn-1:hover
{
	background-color:#52b381;
}